<div class="dropdown-menu" id="profileDropdown" style="display: none;">
  <a href="/profile">Profile</a>
  <a href="/logout">Log Out</a>
  <div class="toggle">
    Service Provider Mode
    <label class="switch">
      <input type="checkbox" id="providerToggle">
      <span class="slider"></span>
    </label>
  </div>
</div>
