<script src="/js/profile-sidebar.js"></script>

<nav id="header">
  <a href="/home" class="logo-link">
    <img src="/images/onhand-logo.png" alt="OnHand Logo" class="logo">
  </a>

  <div class="nav-links">
    <a href="/home" class="{{#if (eq currentPage 'home')}}active{{/if}}">Home</a>
    <a href="/chatbox" class="{{#if (eq currentPage 'chatbox')}}active{{/if}}">Messages</a>
    <a href="/bookings" class="{{#if (eq currentPage 'bookings')}}active{{/if}}">Bookings</a>
  </div>

  <button id="profileBtn" class="profile-btn" title="Account menu">
    {{#if user.avatar}}
      <img src="{{user.avatar}}" alt="{{user.name}}'s profile" class="profile-icon">
    {{else}}
      <img src="/images/default_profile.png" alt="Default profile" class="profile-icon">
    {{/if}}
  </button>
</nav>

<!-- Profile Sidebar (dropdown-style) -->
<div class="profile-sidebar" id="profileSidebar" style="display: none;">
  <a href="/profile">Profile</a>
  <a href="/logout">Log Out</a>

  <div class="toggle">
    Service Provider Mode
    <label class="switch">
      <input type="checkbox" id="providerToggle" {{#if user.isProvider}}checked{{/if}}>
      <span class="slider"></span>
    </label>
  </div>
</div>
