<nav id="header">
  <a href="/home" class="logo-link">
    <img src="/images/logo.png" alt="OnHand Logo" class="logo">
  </a>

  <a href="/home">Services</a>
  <a href="/chatbox">Providers</a>
  <a href="/bookings">Requests</a>
  <a href="/sidebar">Profile</a>
</nav>