<!-- Header -->
<nav id="header">
  <a href="/home" class="logo-link">
    <img src="/images/onhand-logo.png" alt="OnHand Logo" class="logo">
  </a>

  <div class="nav-links">
    <a href="/home" class="active">Home</a>
    <a href="/messages">Messages</a>
    <a href="/bookings">Bookings</a>
  </div>

  <button id="profileBtn" class="profile-btn">
    <img src="/images/profile_picture.png" alt="Default profile" class="profile-icon">
  </button>
</nav>

<!-- Dropdown menu from Profile Button -->
<div class="dropdown-menu" id="profileDropdown" style="display: none;">
  <a href="/profile">Profile</a>
 <!-- <a href="#">My Reports</a> -->
  <a href="/">Log Out</a>
  <div class="toggle">
    Service Provider Mode
    <label class="switch">
      <input type="checkbox" id="providerToggle">
      <span class="slider"></span>
    </label>
  </div>
</div>