<!DOCTYPE html>
<head>
    <title>Login | ONHAND</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
</head>

{{> header}}

<body>
    <div id="container">

        <div id="login-box">

            <div id="login-logo">
                <img src="/images/logo.png" alt="Logo" />
            </div>

            <div id="form-container">
                <form id="signupForm" method="POST" action="/signup">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" class="input-field" required>

                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="input-field" required>

                    <button type="submit" class="login-btn">Log In</button>
                </form>
            </div>

            <div class="signup-text">
                Don’t have an account yet?
                <a href="/signup">Register Here</a>
            </div>
        
        </div>

    </div>

</body>
</html>