<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login | OnHand</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/js/login.js" type="text/javascript"></script>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="icon" href="/images/icon.png" type="image/png">
</head>

<body>

    <div id="container">
        <div id="login-box">

            <div id="login-logo">
            <img src="/images/onhand-logo.png" alt="Logo">
            </div>

            <div class="login-register">
                <div id="form-container">
                    <form id="loginForm" method="POST" action="/login">
                        <label for="username">Username</label>
                        <input type="text" id="username" name="userName" class="input-field" required>

                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="input-field" required>

                        <button type="submit" class="login-btn">Log In</button>
                    </form>
                    <p id="login-error">{{loginError}}</p>
                </div>

                <div class="signup-text">
                Don't have an account yet?
                <a href="/signup">Register Here</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>