<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login | onHand</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>
<body>

<div id="container">
    <div id="logo">
        <img src="logo.png" alt="onHand Logo">
    </div>

    <div id="login-box">
        <form id="loginForm" method="POST" action="/login">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" class="input-field" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" class="input-field" required>

            <button type="submit" class="login-btn">Log In</button>
        </form>

        <div class="signup-text">
            Don’t have an account yet?
            <a href="/signup">Register Here</a>
        </div>
    </div>
</div>

</body>
</html>
