<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up | OnHand</title>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script src="/js/signup.js"></script>
    <link rel="icon" href="/images/icon.png" type="image/png">
</head>

<body>
    <div id="signup-container">
        <div id="signup-logo">
        <img src="/images/onhand-logo.png" alt="Logo">
        </div>

        <form id="signupForm" method="POST" action="/signup" enctype="multipart/form-data">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" class="input-field" required>

        <label for="middleName">Middle Name</label>
        <input type="text" id="middleName" name="middleName" class="input-field" required>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" class="input-field" required>

        <label for="username">Username</label>
        <input type="text" id="username" name="username" class="input-field" required>

        <label for="email">Email</label>
        <input type="email" id="email" name="email" class="input-field" required>

        <label for="phone">Phone Number</label>
        <input type="tel" id="phone" name="phone" class="input-field" required>

        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="input-field" required>

        <label for="confirmPassword">Re-enter Password</label>
        <input type="password" id="confirmPassword" name="confirmPassword" class="input-field" required>

        <label for="birthday">Birthday</label>
        <input type="date" id="birthday" name="birthday" class="input-field" required>

        <h3>Address</h3>
        <label for="homeNumber">Home/Unit/Floor Number</label>
        <input type="text" id="homeNumber" name="homeNumber" class="input-field" required>

        <label for="street">Street Address</label>
        <input type="text" id="street" name="street" class="input-field" required>

        <label for="barangay">Barangay</label>
        <input type="text" id="barangay" name="barangay" class="input-field" required>

        <label for="city">City</label>
        <input type="text" id="city" name="city" class="input-field" required>

        <label for="region">Region</label>
        <input type="text" id="region" name="region" class="input-field" required>

        <label for="country">Country</label>
        <input type="text" id="country" name="country" class="input-field" required>

        <label for="postal">Postal Number</label>
        <input type="text" id="postal" name="postal" class="input-field" required>

        <label for="profilePicture">Upload Profile Picture</label>
        <input type="file" id="profilePicture" name="profilePicture" accept="image/*" class="input-field" required>
        
        <label for="validID">Upload a Valid Identification Card</label>
        <input 
            type="file" 
            id="validID" 
            name="validID" 
            accept="image/*,application/pdf" 
            class="input-field" 
            required>

        <h3>Register as Service Provider?</h3>
        <label>
            <input type="radio" name="isServiceProvider" value="yes"> Yes
        </label>
        <label>
            <input type="radio" name="isServiceProvider" value="no" checked> No
        </label>

        <div id="serviceProviderFields" style="display:none;">
            <label>Working Days</label>
            <div class="days-checklist">
            {{#each weekdays}}
                <label><input type="checkbox" name="workingDays" value="{{this}}"> {{this}}</label>
            {{/each}}
            </div>

            <label>Working Hours</label>
            <div class="time-inputs">
            <div class="time-picker">
                <select class="tp-hour"></select>:
                <select class="tp-minute"></select>
                <select class="tp-ampm">
                <option>AM</option><option>PM</option>
                </select> -
                <input type="hidden" name="startTime" class="startTimeHidden">
            </div>

            <div class="time-picker">
                <select class="tp-hour"></select>:
                <select class="tp-minute"></select>
                <select class="tp-ampm">
                <option>AM</option><option>PM</option>
                </select>
                <input type="hidden" name="endTime" class="endTimeHidden">
            </div>
            </div>

            <label for="workingLocation">Working Location</label>
            <input type="text" id="workingLocation" name="workingLocation" class="input-field">

            <label for="nbiClearance">Upload NBI Clearance</label>
            <input type="file" id="nbiClearance" name="nbiClearance" accept="image/*,application/pdf" class="input-field">
        </div>

        <button type="submit" class="signup-btn">Register</button>
        </form>
    </div>
</body>
</html>
